body {
   background: #990909;
}
.container {
   width: 90%;
   margin: 0 auto;
}
.logo {
   width: 600px;
   text-align: center;
   margin: 40px auto 20px;
}
.logo a {
   text-decoration: none;
   color: #fff;
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 16px;
   letter-spacing: 7px;
}
.logoLine {
   width: 500px;
   height: 2px;
   border: none;
  margin: 3px auto;
   background: linear-gradient(0.25turn, #990909, #ffffff, #990909);
}
.navi {
   width: 100%;
   margin: 0 auto;
   background: #000;
   text-align: center;
}
.navi a {
   text-decoration: none;
   text-align: center;
   color: #fff;
}
.home,
.about,
.services,
.contact {
   margin: 30px 50px 0;
   width: 300px;
   display: inline-block;
}
.navi img {
   width: 300px;
}
.article {
   width: 100%;
   margin: 5px auto 20px;

}
.leftBar {
   width: 25%;
   height: 500px;
   background: #7d0909;
   display: inline-block;

   margin-top: 5px;
   line-height: 30px;
}
.leftBar a {
   font-size: 20px;
   color: #e95b11;
   vertical-align: top;
}
.centralBar {
   display: inline-block;
   color: #fff;
   width: 55%;
   vertical-align: top;
}
.rightBar {
   width: 17%;
   height: 500px;
   background: #e3dddd;
   vertical-align: top;
   margin-top: 5px;
   float: right;
}
.rightBar hr {
   width: 100px;
}
.rightBar h1 {
   background: #bdbdbd;
   text-align: center;
   margin: 2px;
}
.rightBar p {
   margin: 2px;
}
.copyright {
   margin: 0 auto;
   width: 90%;
   text-align: center;
   background: #e95b11;
   color: #fff;
   font-weight: bold;
}